
 

.pixel-art {
   -ms-interpolation-mode: nearest-neighbor;
       image-rendering: -moz-crisp-edges;
       image-rendering: pixelated;
}

.modal-screen-one {
   background-image: url('https://66.media.tumblr.com/ba1e5fe0677195784bd5037de7b959cd/tumblr_p4rutuhshj1x4kppqo1_500.gif');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%;
   display: none;
 }
 
 .modal-screen-one.visible {
   display: block;
   animation: fade-slide-in 0.3s ease-out forwards;
 }

 .modal-screen-login {
   width: 100%;
   height: 100%;
   background-image: url(BrandZillaMap.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%;
   display: none;
 }
 
 .modal-screen-login.visible {
   display: block;
   animation: fade-slide-in 0.3s ease-out forwards;
 }


.frame {
   width: calc(var(--pixel-size) * 200);
   height: calc(var(--pixel-size) * 150);
   /* outline: var(--pixel-size) solid #fff; */
   z-index:1; 
   position:relative;
}
/* Game Screen */
.modal-screen-two {
   width: calc(var(--pixel-size) * 200);
   height: calc(var(--pixel-size) * 150);
   /* outline: var(--pixel-size) solid #fff; */
   z-index:1; 
   position:relative;
   display: none;
 }
 
 .modal-screen-two.visible {
   display: block;
   animation: fade-slide-in 0.3s ease-out forwards;
 }


 .modal-screen-mint {
   width: 100%;
   height: 100%;
   padding-top: 130px;
   display: none;
 }
 
 .modal-screen-mint.visible {
   display: block;
   animation: fade-slide-in 0.3s ease-out forwards;
 }

 
.camera {
   width: calc(var(--pixel-size) * 200);
   height: calc(var(--pixel-size) * 150);
   overflow: hidden;
   position:relative;
}

.map {
   -ms-interpolation-mode: nearest-neighbor;
       image-rendering: -moz-crisp-edges;
       image-rendering: pixelated;
   background-image: url("https://i.pinimg.com/originals/4f/0d/82/4f0d82a12c2f2503ad626d9540774e48.png");
   background-size: 100%;
   width: calc(13 * var(--grid-cell));
   height: calc(10 * var(--grid-cell));
   position: relative;
}

.btn-start {
   margin-left: 15.5%;
   margin-top: 0%;
   width: 17rem;
   height: 16.2rem;
 }

.btn-login {
   margin: 41%;
   margin-left: 42%;
   width: 15rem;
   height: 6rem; 
}

.characterImg {
    padding-left: 0px;
}

.wallet-btn {
   background-color: white;
}

.btn-bottom {
   margin-left: 38%;
   width: 25rem;
   height: 12rem; 
} 

.btn-mint {
   margin-top: 5%;
   width: 10%;
   height: 15%;
} 

.btn-mint_1 {
   margin-top: 3%;
   margin-left: 58%;
   width: 10%;
   height: 15%;
} 

.btn-mint_2 {
   margin-top: 3%;
   margin-left: 10%;
   width: 10%;
   height: 15%;
} 

.btn-mint_3 {
   margin-top: 1%;
   margin-left: 81%;
   width: 10%;
   height: 15%;
} 

.character {
   width: calc( var(--grid-cell)* 2 );
   height: calc( var(--grid-cell)* 2 );
   position: absolute;
   overflow:hidden;
}

.shadow {
   width: calc( var(--grid-cell)* 2 );
   height: calc( var(--grid-cell)* 2 );
   position: absolute;
   left:0;
   top:0;
   background: url("https://assets.codepen.io/21542/DemoRpgCharacterShadow.png") no-repeat no-repeat;
   background-size: 100%;
}

.character_spritesheet {
   position: absolute;
   background: url(assets/specsChar.png) no-repeat no-repeat;
   background-size: 100%;
   width: calc( var(--grid-cell)* 8 );
   height: calc( var(--grid-cell)* 8 );
}


.character[facing="right"] .character_spritesheet {
   background-position-y: calc( var(--pixel-size) * -32 );
}
.character[facing="up"] .character_spritesheet {
   background-position-y: calc( var(--pixel-size) * -64 );
}
.character[facing="left"] .character_spritesheet {
   background-position-y: calc( var(--pixel-size) * -96 );
}
.character[walking="true"] .character_spritesheet {
   -webkit-animation: walkAnimation 0.6s steps(4) infinite;
           animation: walkAnimation 0.6s steps(4) infinite; 
}

@-webkit-keyframes walkAnimation {
  from {
    transform: translate3d(0%,0%,0);
  }
  to {
    transform: translate3d(-100%,0%,0);
  }
}

@keyframes walkAnimation {
  from {
    transform: translate3d(0%,0%,0);
  }
  to {
    transform: translate3d(-100%,0%,0);
  }
}

.dpad {
   position:absolute;
   right: calc(var(--pixel-size) * 2);
   bottom: calc(var(--pixel-size) * 2);
   width: calc(var(--pixel-size) * 37);
   height: calc(var(--pixel-size) * 38);
}
.dpad-button {
   -webkit-appearance:none;
      -moz-appearance:none;
           appearance:none;
   outline:0;
   border:0;
   background:transparent;
   padding:0;
   cursor:pointer;
}
.dpad-button svg {
   display:block;
   height: calc(var(--pixel-size) * 13);
}

.dpad-button.pressed .Arrow_arrow-inset { stroke:#07c2cc; }
.dpad-button.pressed .Arrow_arrow-body { stroke:#17dfea; }

.dpad-up {
   position: absolute;
   left: calc(var(--pixel-size) * 12);
   top:0;
}
.dpad-down {
   position: absolute;
   bottom:var(--pixel-size);
   left: calc(var(--pixel-size) * 12);
}
.dpad-left {
   position: absolute;
   top: calc(var(--pixel-size) * 12);
   left:0;
}
.dpad-right {
   position: absolute;
   top: calc(var(--pixel-size) * 12);
   right:0;
}

.dpad {
   -webkit-user-select:none;
      -moz-user-select:none;
       -ms-user-select:none;
           user-select:none;
}


.corner_topleft,
.corner_topright,
.corner_bottomleft,
.corner_bottomright {
   position: absolute;
   width: var(--pixel-size);
   height: var(--pixel-size);
   background: var(--bg);
   z-index:2;
}

.corner_topleft {
   top: calc(var(--pixel-size) * -1);
   left: calc(var(--pixel-size) * -1);
}
.corner_topright {
   top: calc(var(--pixel-size) * -1);
   right: calc(var(--pixel-size) * -1);
}
.corner_bottomleft {
   bottom: calc(var(--pixel-size) * -1);
   left: calc(var(--pixel-size) * -1);
}
.corner_bottomright {
   bottom: calc(var(--pixel-size) * -1);
   right: calc(var(--pixel-size) * -1);
}

.headline {
   position:absolute;
   top:calc(var(--pixel-size) * 2);
   right:calc(var(--pixel-size) * 2);
   width: calc(var(--pixel-size) * 75)
}


 .grid-item {
   background-color: rgba(255, 255, 255, 0.8);
   border: 1px solid rgba(0, 0, 0, 0.8);
   padding: 20px;
   font-size: 30px;
   text-align: center;
 }


.bat {
   margin-top: 2%;
   margin-left: 42%;
   width: 18%;
   height: 25%;
}

.save-button a {
   display: inline-block !important;
   padding: 10px 20px !important;
   color: #4da6e7 !important;
   border: 1px solid #4da6e7 !important;
   border-radius: 23px;
   font-weight: 500 !important;
   letter-spacing: 0.3px !important;
   transition: all .5s;
   margin-left: 38%;
   margin-top: 20%;
 }
 
 .save-button a:hover {
   background-color: #4da6e7;
   color: #fff !important;
 }
 
 .blog-post .down-content .save-button {
   display: inline-block;
   float: right;
 }